name: CD - Manual GitOps Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'
        type: choice
        options: [dev, staging]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set tag version
        id: set-tag
        run: |
          TAG_VERSION=${GITHUB_REF_NAME#v}
          echo "version=${TAG_VERSION}" >> $GITHUB_OUTPUT

      - name: Update Manifest Repo
        run: |
          # 1. Clone your manifest repository
          git clone https://${{ secrets.PAT_TOKEN }}@github.com/Christian-Tiovanto/k8s-polling.git
          cd k8s-polling
          
          # 2. Determine the tag to use
          DEPLOY_TAG="${{ steps.set-tag.outputs.version }}"
          echo "Deploying version ${DEPLOY_TAG} to ${{ github.event.inputs.environment }}"

          # 3. Update the image tag in the specific service's values.yaml
          yq -i ".image.tag = \"${DEPLOY_TAG}\"" charts/polling-chart/values.yaml
          
          # 4. Push the change to trigger ArgoCD
          git config user.name "GitOps Deploy Bot"
          git config user.email "actions@github.com"
          git add charts/polling-chart/values.yaml
          git commit -m "manual deploy (${{ github.event.inputs.environment }}): poll-app to ${DEPLOY_TAG}"
          git push